
/* .row{
    border: 2px solid red;
} */

.box , .box1 , .box2{
    background-color: blueviolet;
    width: 100%;
    height: 300px;
}

.box1{
    background-color: green;
}

.box2{
    background-color: brown;
}